# Xcode
DerivedData/
build/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.moved-aside

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store

# Local environment
.env
.env.*
ci/
